@import "src/styles/common";

.more {
	text-align: center;

	header  {
		margin: 2rem;
		.title {
			font-size: 1.5rem;
		}
		.timing {
			font-size: 1.2rem;
		}
		
		.pretty-ampm {
			display: inline-block;
			margin-left: .3rem;
			font-size: 80%;
		}
	}

	section {
		margin: 1rem 2rem;

		.data-title {
			font-size: 1.2rem;
		}

		.unit {
			display: inline-block;
			margin-left: .4rem;
			color: transparentize($c-main, .3);
		}

	}
}