@import "src/styles/common";

html {
	font-family: $font;
	color: $c-main;
	background-color: $m-light;
}

* {
	box-sizing: border-box;
	font-weight: 300;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

main {
	background-color: $c-back;
	width: 100%;
	max-width: 700px;
	max-height: 1200px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	outline: 1px solid $m-dark;
}

.tab-view-bg {
	padding: .5rem;

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	// background: -moz-linear-gradient(-45deg, $c-back 0%, $c-back 86%, $c-alt2 86%, $c-alt2 92%, $c-alt1 92%);
	// background: -webkit-linear-gradient(-45deg, $c-back 0%, $c-back 86%, $c-alt2 86%, $c-alt2 92%, $c-alt1 92%);
	// background: linear-gradient(135deg, $c-back 0%, $c-back 86%, $c-alt2 86%, $c-alt2 92%, $c-alt1 92%);
}