# root
TODO.txt
NOTES.txt
deploy-*.txt
local-machine

node_modules
dist
dist-icons
prod-dist
npm-debug.log
*-secret.*

**/test/**/*.js
**/test/**/*.js.map

**/ts-build

*secret.json

**/azure-deploy/*.js

# Output of 'npm pack'
*.tgz

# OS hidden folders
.DS_Store
.Trash-0

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*