@import "./common";

.nums {
	padding: 0 1em;
}

.nums-content {
	text-align: center;
	font-family: $font;

	h1, h2, h3, h4 {
		margin: 0;
		margin-bottom: .5em;
	}

	border-bottom: 1px solid $dark-blue;
}

.nums-title {
	margin: .2em;
}

.nums-left .nums-title {
	text-align: left;
}
.nums-right .nums-title {
	text-align: right;
}
