@import "./common";

html {
	box-sizing: border-box;
	font-family: $lato;
	color: $dark-blue;

	background-image: linear-gradient(139deg, $pale-blue 0%, $light-blue 28%, $medium-blue 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

main, .viewer {
	display: flex;
	flex-direction: column;
}

.viewer, .viewer-tides {
	flex: 1;
}

.viewer-nums {
	display: flex;
	flex-direction: horizontal;

	> * {
		flex: 1;
		padding: 1em 2em;
	}
}
