@import "./common";

html {
	box-sizing: border-box;
	font-family: $font;
	color: $dark-blue;
	font-size: 120%;
	
	background-image: linear-gradient(139deg, $pale-blue 0%, $light-blue 28%, $medium-blue 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body, main {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	text-shadow: 2px 2px rgba(0, 0, 0, .2);
}
h2 {
	text-shadow: 1px 1px rgba(0, 0, 0, .1);
}
	
header {
	text-align: center;
}

main, .viewer {
	display: flex;
	flex-direction: column;
}

.viewer, .viewer-tides {
	flex: 1;
}

.viewer-nums {
	display: flex;
	flex-direction: row;

	> * {
		flex: 1;
	}
}
