@import "src/styles/common";

.waves {
	
	flex: 1;
	display: flex;
	flex-direction: column;

	.main {
		flex: 2;
		flex-basis: auto;
		min-height: 6rem;
		position: relative;
	}

	.wave-container {
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.gradient-out {
		background: -moz-linear-gradient(top, $c-alt1 0%, $c-back 100%);
		background: -webkit-linear-gradient(top, $c-alt1 0%,$c-back 100%);
		background: linear-gradient(to bottom, $c-alt1 0%,$c-back 100%);
		flex: 1;
	}

	.wave {
		position: absolute;
		bottom: -5px;
		width: 100%;
		height: calc(100% - 4rem);
	}

	.wave-lower {
		fill: $c-alt1;
	}
	.wave-higher {
		fill: $c-alt2;
	}

	.rocks {
		position: absolute;
		right: -1rem;
		bottom: .1rem;
		height: 100%;
	}
}

.waves .marker {
    position: absolute;
    bottom: 0;
    left: 0;
    height: calc(100% - 4rem);
	width: 50%;

	.line-container {
		width: 3rem;
		margin-left: 2rem;
		padding: 1rem 0;
		height: 100%;
		display: flex;
		flex-direction: column;

		.line {
			width: 30%;
			margin: 0 auto;
			background-color: $c-main;
			flex: 1;
			border-radius: 2px;
		}

		.line-faint {
			opacity: .4;
		}

		.line-arrow-holder {
			position: relative;
			width: 1rem;
			height: .1rem;
			margin: 0 auto;
		}

		.arrow {
			fill: $c-main;
			position: absolute;
			width: 3rem;
			height: 3rem;
			left: -1rem;
			top: -1rem;
		}
	}

	.marker-header {
		display: block;
		position: absolute;
		left: 5.5rem;

		span {
			white-space: pre;
		}
	}

	.marker-title {
		font-size: 1.2rem;
		font-weight: bold;
		display: inline-block;
		margin-right: 1rem;
	}

	.marker-high {
		top: 0;
	}

	.marker-low {
		bottom: 0;
	}
}

