@import "src/styles/common";

.graphic {
	
	// Take up all remaining space
	flex: 1;

	// Allow the wave area within (non-crab area) to take up all space
	display: flex;
	flex-direction: column;
	flex-basis: auto;
	position: relative;
}

.graphic .crab-container {
	// Constant size - do not change with device width
	height: 4rem;
	// Move crab to the right
	position: relative;

	.crab {
		// Show above what is beneath it
		position: absolute;
		top: 0;
		right: -.5rem;
		z-index: 5;
		// overhang slightly to lower area
		height: 5rem;
	}
}

.graphic .waves {

	// Waves take up rest of space
	flex: 1;
	position: relative;

	.wave, .wave-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.wave-lower {
		fill: $c-alt1;
	}
	.wave-higher {
		fill: $c-alt2;
	}

	.wave-svg-offset {
		// SVG doesn't always line up correctly. Prevent a white gap below the waves.
		position: absolute;
		bottom: 0;
		height: 5px;
		width: 100%;
		background-color: $c-alt1;
	}

	.rocks {
		position: absolute;
		right: 0rem;
		
		width: 14rem;
		min-width: 40%;
		max-width: 60%;

		height: 30rem;
		max-height: 250%;
		min-height: 100%;
	}
}

.graphic .marker {
    position: absolute;
    bottom: 0;
    left: 0;
	height: 100%;
	// Force the text to wrap on smaller screens
	width: 60%;

	.line-container {
		width: 3rem;

		// Margin on the left
		margin-left: 1rem;

		// Padding only at the bottom
		padding: 0;
		padding-bottom: 1rem;

		height: 100%;
		display: flex;
		flex-direction: column;

		.line {
			width: 1rem;
			margin: 0 auto;
			background-color: $c-main;
		}

		.line-cap {
			height: 1rem;
		}

		.line-begin {
			border-radius: 2px 2px 0 0;
		}
		.line-end {
			border-radius: 0 0 2px 2px;
		}

		.line-faint {
			opacity: .4;
		}

	}
	
	.line-flex {
		flex: 1;
		display: flex;
		flex-direction: column;

		.line {
			flex: 0;
		}

		.line-arrow-holder {
			position: relative;
			width: 1rem;
			height: .1rem;
			margin: 0 auto;
		}
	
		.arrow {
			fill: $c-main;
			position: absolute;
			width: 3rem;
			height: 3rem;
			left: -1rem;
		}
		
		.arrow-up {
			top: -2rem;
		}

		.arrow-down {
			top: -1rem;
		}
	}

	.marker-header {
		display: block;
		position: absolute;
		left: 4.6rem;

		span {
			white-space: pre;
		}
	}

	.marker-title {
		font-size: 1.2rem;
		font-weight: bold;
		display: inline-block;
		margin-right: 1rem;
	}

	.marker-high {
		top: 0rem;
	}

	.marker-low {
		bottom: 1rem;
	}
}

