@import "src/styles/common";

html {
	font-family: $font;
	color: $c-main;
	background-color: $m-light;
}

* {
	box-sizing: border-box;
	font-weight: 300;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	background-color: $c-back;
	max-width: 700px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	outline: 1px solid $m-dark;
}

.tab-view-bg {
	padding: .5rem;

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: -moz-linear-gradient(-45deg, $c-back 0%, $c-back 60%, $c-alt2 63%, $c-alt2 78%, $c-alt1 81%);
	background: -webkit-linear-gradient(-45deg, $c-back 0%, $c-back 60%, $c-alt2 63%, $c-alt2 78%, $c-alt1 81%);
	background: linear-gradient(135deg, $c-back 0%, $c-back 60%, $c-alt2 63%, $c-alt2 78%, $c-alt1 81%);
}