@import "src/styles/common";

html {
	font-family: $font;
	color: $c-main;
	background-color: $m-light;
}

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	background-color: $c-back;
	max-width: 700px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	outline: 1px solid $m-dark;
}