<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta data-build="<%= htmlWebpackPlugin.options.user.buildTime %>" data-version="<%= htmlWebpackPlugin.options.user.version %>" />
	<title><%= htmlWebpackPlugin.options.title %></title>

	<!-- Favicons thanks to realfavicongenerator.net -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=2">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=2">
	<link rel="manifest" href="manifest.json">
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#a3ced4">
	<link rel="shortcut icon" href="favicon.ico?v=2">

	<meta name="apple-mobile-web-app-title" content="Quick Tides">
	<meta name="application-name" content="Quick Tides">
	<meta name="theme-color" content="#ffffff">

	<meta name="description" content="Quick tide information and animation for Wells, Maine">
	<meta property="og:title" content="Quick Tides for Wells" />
	<meta property="og:image" content="og_image.png" />
	<meta property="og:url" content="https://tides.andrewmessier.com" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="Quick tide information and animation for Wells, Maine" />

	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap" rel="stylesheet">
</head>

<body>
</body>

</html>