@import "src/styles/common";

.react-loading {
	text-align: center;

	h1 {
		font-weight: bold;
		display: inline-block;
		margin: 2rem auto;
		animation: colors 1s linear infinite alternate;
	}
}

@keyframes colors {
	0% {
		color: $c-main;
	}
	50% {
		color: $c-alt1;
	}
	100% {
		color: $c-main;
	}
}