@import "src/styles/common";

.info {
	text-align: center;

	section {
		margin: .5rem;

		& + section {
			margin-top: 1.5rem;
		}
	}
}

.info-header {
	span {
		display: inline-block;
		padding: 0 .2rem;
	}
	.value {
		color: transparentize($c-main, .3)
	}
}

.info-gh a {
	margin: auto;
	background-color: $m-light;
	border: 1px solid $m-dark;
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 #333;
	padding: .6rem .7rem;
	display: inline-flex;
	align-items: center;
	position: relative;

		box-shadow:
			inset 0 0 2px 0 rgba(255,255,255,.4),
			inset 0 0 3px 0 rgba(0,0,0,.4),
			inset 0 0 3px 5px rgba(0,0,0,.05),
			2px 2px 4px 0 rgba(0,0,0,.4);
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		left: 2px;
		right: 2px;
		height: 2px;
	}
	&:before {
		top: 0;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		background: rgba(255,255,255,.6);
		box-shadow: 0 1px 2px 0 rgba(255,255,255,.6);
	}
	&:after {
		bottom: 0;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		background: rgba(0,0,0,.15);
		box-shadow: 0 -1px 2px 0 rgba(0,0,0,.15);
	}
	
	
	color: #333;
	&:link, &:visited, &:active, &:hover {
		color: #333;
		text-decoration: none;
	}

	p {
		text-align: left;
		margin: 0;
		line-height: 1.4rem;
	}

	svg {
		fill: #333;
		height: 2.5rem;
		width: auto;
	}

	.split-right {
		padding-left: .7rem;
	}
}

.info-thanks {
	> div {
		margin: 1.5rem 0;
		line-height: 1rem;
	}

	a, a:link, a:hover, a:active, a:visited {
		color: darken($c-main, 20%);
		white-space: pre;
	}

	ul {
		margin: .5rem 0;
		padding: 0;
		list-style-type: none;

		li {
			color: transparentize($c-main, .3);
		}
	}
}